body {
  margin: 0;
}

.packname {
  position:absolute;
  top:0;
  width: 100%;
  height: 60px;
  display: grid;
  justify-content:center;
  align-items: center;
  text-align: center;
  font-size: 28px;
}
.packinfo {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  width:auto;
  height:60px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: flex-start;
  text-align: center;
}
.packinfosection {
  /*This was originally meant for published and last updated dates*/
  margin-left:10px;
  width:auto;
  height:40%;
  font-size:20px;
  display: flex;
  justify-content:center;
  align-items: center;
  text-align: center;
}
#authors {
  display:flex;
  justify-content:center;
  align-items: center;
  text-align: center;
  width: 40%;
  height:60px;
  position:absolute;
  right: 0;
  font-size: 20px;
  line-height: 100%;
}
.packimage {
  margin: 0px 0px 0px 0px;
  padding-top: 40%;
    position: absolute;
  top:150px;
  left:220px;
  right:40%;
  bottom:40%;
  width: auto;
  height: 0;
  background-color: #f0e6cc;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}
.imagezone {
  width:100%;
  height:auto;
  background-color:black;
  position:absolute;
  top:60px;
  bottom:60px;
  display:flex;
  justify-content:center;
}
.imagezone > img {
   max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;

}
.extraimage {
    position: absolute;
  top:150px;
  left:62%;
  right:20%;
  width: auto;
  height: auto;
  background-color: gray;
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-content: flex-start;
  align-items:flex-start;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height:470px;
  padding: 5px;
  box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.75);

}
.extraimage::-webkit-scrollbar {
  width: 0;
}
.extraimagecontainer {
  margin: 4px;
  width: auto;
  height: 80px;
  background-color: black;
  display:flex;
  justify-content:center;
  box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
}
.extraimagecontainer > img {
   max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
  margin:auto;
  transition: 0.2s;
}
.extraimagecontainer > img:hover {
    filter: brightness(130%);
  }
.description {
  position: absolute;
  top:95%;
  left:2px;
  right:2px;
  width: auto;
  height: auto;
  background-color: rgb(230,230,230);
  border-radius: 0em 0em 2em 2em;
  z-index: -1;
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  padding: 20px;
    margin-bottom:10px;
}
#desc {
  overflow-x: auto;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
  font-family: customFont1;
  font-size: 1vw;
  margin-top:20px;
}
.downloadsection {
  width:auto;
  height: 290px;
  position: absolute;
  top:650px;
  left:62%;
  right:20%;
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items:center;
}
.dlbutton {
  background-color: #56d667;
  margin:10px;
  border-radius:2em;
  width: 90%;
  height: 60px;
  position:relative;
  top:0;
  bottom:0;
  left:0;
  right:0;
   box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  transition: 0.3s;

}
.dlbutton:hover {
  filter: brightness(140%);
}
.dlicon {
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:70%;
  width: auto;
  height:70%;
  margin: auto;
}
.dltext {
  position: absolute;
  top: 0;
  bottom: 0;
  left:25%;
  right:7%;
  width: auto;
  height:80%;
  margin: auto;
  text-align:center;
  display:grid;
  justify-contents: center;
  align-items: center;
  font-size: 30px;
}
.oglink {
  background-color: orange;
  margin:10px;
  border-radius:2em;
  width: 90%;
  height: 60px;
  position:relative;
  top:0;
  bottom:0;
  left:0;
  right:0;
   box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  transition: 0.3s;
}
.oglink:hover {
  filter: brightness(130%);
}
.ogtext {
  position: absolute;
  top: 0;
  bottom: 0;
  left:7%;
  right:7%;
  width: auto;
  height:80%;
  margin: auto;
  text-align:center;
  display:grid;
  justify-contents: center;
  align-items: center;
  font-size: 25px;
  text-decoration: none;
}
a, a:visited{
     color: black;
}
