@font-face {
  font-family: customFont1;
  src: url(./minecraft_font.ttf);
}
* {
 font-family: customFont1;
}
body {
  margin: 0;
   background-color: rgb(255,255,255);
}

.leftsidebar {
  margin-top: -500px;
  width: 200px;
  z-index:1;
  height: 500px;
  border-radius: 0px 0px 20px 20px;
  background-color: rgb(87,87,87);
  position: absolute;
  top:100px;
  bottom:0;
  transition-duration: 1s;
  transition-timing-function:cubic-bezier(.3,.92,.41,.86);
  overflow:hidden;
  display:flex;
  flex-direction: column;
  align-items:flex-start;
}
.main {
  z-index:2;
  display:block;
  float: right;
  width: 100%;
  margin: 0px 0px 0em 0px;
  height: 100px;
  background-color: #f0e6cc;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}
.sidebarbutton {
  z-index:2;
  width: 70px;
  height:100px;
  position: absolute;
  left: 130px;
  background-color: #f0e6cc;
  filter: brightness(105%);

}
.sidebarbutton:hover {
  filter: brightness(120%);
}
.bar {
  width: 60%;
  height: 6px;
  background-color: black;

  margin: 10px auto;
  position:relative;
  top:20%;
  border-radius: 20px;
}
.mainimg {
  z-index:2;
  position: absolute;
  width: 200px;
  height: 100px;
  background-color: #f0e6cc;
  filter: brightness(105%);
}
.mainimg > img{
  max-width:90%;
  max-height: 90%;
  padding-top: 75%;
  width:auto;
  height:auto;
  margin: -145px 0px 0px 0px;
}
.mainimg > img:hover{
  filter: brightness(110%);
}

.wrapper {
  margin: 0px 220px 0px 220px;
  top:150px; left: 15%; right: 15%; bottom: 0;

  /* use this below*/
  display: grid;
        grid-template-columns: repeat(auto-fill,minmax(300px, 1.5fr));

  /*grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: auto;
  grid-gap:2em;*/
}
.box {
  margin:10px;
  padding-top: 75%;
  border: 0px solid white;
  display: grid;
  position: relative;
  background-color: gray;
  transition: 0.1s;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.55);
  background-color: white;
  background-size: 32px;
  background-position: 0px 2px;
}

.head {
  position:absolute;
  bottom:0;
  width: 100%;
  height: 20%;
  background-color: rgb(230,210,250);
  display:grid;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.head > .itemtitle {
  margin:10px;
  overflow:hidden;
  line-height: 110%;
  word-wrap: break-word;
  text-align: center;
  color: black;
  text-decoration:none;


}
.box:hover{
  background-color: white;
 filter: brightness(110%);
  box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.55);
}

.imgholder {
  background-color:black;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 20%;
    left: 0;
    right: 0;
display:flex;
  justify-content: center;
}
.img {
 max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
}

.sidebaroptions {
  text-decoration: none;
  margin-left:auto;
  margin-right:0;
  font-size: 14px;
  color: rgb(220,220,220);
  justify-content: center;
  display:flex;
  align-items: center;
  text-align: center;
  width:100%;
  height: auto;
  padding-top:3px;
  padding-bottom: 3px;
  background-color: rgb(67,67,67);
  transition:0.5s;
}
.sidebaroptions:nth-child(odd) {
 background-color: rgb(50,50,50);
}
.sidebaroptions:hover {
  width:90%;
 color: rgb(255,255,255);
}

.herocategory {
  display:grid;
  position: relative;
  height: 100px;
  width: auto;
  margin: 0px 220px 0px 220px;
  line-height: 100%;
  text-align: center;
  color: black;
  text-decoration:none;
  align-items: center;
  font-size: 50px;
}

.content {
  margin: 0px 0px 100px 0px;
}

.sidebaroptions > a {
  color: rgb(220,220,220);
  text-decoration:none;
  transition:0.5s;
}

.sidebaroptions > a:hover {
  width:90%;
 color: rgb(255,255,255);
}
